* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 1000px;
}
.parent {
  margin: 10px;
  width: 200px;
  height: 200px;
  background: #EEE5DE;
  position: relative;
}
.draggable {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: blue;
  position: absolute;
  border: 1px solid black;
}
.resizer {
  position: absolute;
}
.mid {
    right:0;
    bottom:0;
    width: 20px;
    height: 20px;
    background-color: black;
    cursor: se-resize;
}
.bottom {
    position: absolute;
    bottom:0;
    width:100%;
    height: 6px;
    background-color: red;
    cursor: n-resize;
}
.right {
    position: absolute;
    top:0;
    right:0;
    width: 6px;
    height: 100%;
    background-color: red;
    cursor: w-resize;
}
